extends layout

block content
  #keyin
    h2 Please keyin your name
    input(type='text')

  .playBtn#info
    p
      | Name:
      span#name
    p
      | Player:
      span#playerNum
  .playBtn#readyBlock
    button#ready
      p
        | ready:
        span false
  .playBtn
    script#joystick-view(type='text/html').
      <canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>" style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
      </canvas>
    #joystickContent
      //- p x:
      //-   span#xVal
      //- p y:
      //-   span#yVal

  script(src='https://code.jquery.com/jquery-2.2.4.min.js')
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript', src='js/underscore-min.js')
  script(type='text/javascript', src='js/backbone-min.js')
  script(type='text/javascript', src='js/joystick_view.js')
  script(type='text/javascript', src='js/main.js')
