body {
  margin: 0px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input {
  width: 100%;
  text-align: center;
  font-size: 24px;
}
#keyin {
  margin: 0px 20px;
}
#info {
  position: absolute;
  top: 0;
}
#info p {
  margin: 0px;
}
#readyBlock {
  position: absolute;
  bottom: 0; 
}
.playBtn {
  display: none;
  width: 50%;
  text-align: center;
}
